= simple_form_for @drink,  html: { class: 'form-signin' } do |f|
  - label = @drink.new_record? ? 'New Drink' : 'Edit Drink'
  - btn_label = @drink.new_record? ? 'Create' : 'Update'

  %h1=label
  %h2.form-signin-heading
  = f.error_notification
  = f.association :drink_category ,input_html: { class: 'large' }
  = f.input :name, placeholder: ' email'
  = f.button :submit, btn_label,  class: 'btn btn-lg btn-primary btn-block'

