- # binding.pry
-# - id_to_sugar_milk ||= @id_to_sugar_milk
= simple_form_for @order,  html: { class: 'form-inline order-form' ,'data-url': drinks_path, 'data-milk-sugar': @id_to_sugar_milk} do |f|
  - label = @order.new_record? ? 'New order' : 'Edit order'
  - btn_label = @order.new_record? ? 'Create' : 'Update'
  .row
    %h1=label
    %h2.form-signin-heading
  - if f.object.errors.any?
    .row
      .form-group
        .alert.alert-danger
          The form contains
          =pluralize(f.object.errors.count, "error")
          - f.object.errors.full_messages.each do |msg|
            %li
              %ul
              =msg
  -if @order.description.present?
    .jumbotron.bg-info
      %h3 Summary
      - @order.description.each do |item_description|
        %h6= item_description
  .form-group
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id}
    -if !current_user.manager?
      -# -binding.pry
      = f.input :status, collection: Order.statuses.keys.map {|s| [s.humanize,s]}, |
        selected: @order.status, |
    input_html: { autocomplete: 'off' }
    = f.input :favorite, placeholder: 'Favorite'
    = f.input :reoccuring, placeholder: 'Reoccuring'
    -# = f.input :days, collection: DateAndTime::Calculations::DAYS_INTO_WEEK.to_a,  prompt: 'Days To Place At'
    .checkbox
      = f.collection_check_boxes :days,Date::DAYNAMES.map.with_index { |d, i| [d, i] }, :last, :first, checked: @order.days
    = f.input  :hour,collection: (9..17).to_a.map{|h| [h.to_s+':00',h]}, prompt: 'Choose hour'
  .form-group.pull-xs-right
    =f.input :comments, input_html: { class: 'wide520'}
  %h3 Drinks
  .form-group
    #drinks
      = f.simple_fields_for :line_items do |line_items_form|
        = render 'line_item_fields', :f => line_items_form
      .links.input-group.input-group-sm.top23
        = link_to_add_association 'add drink', f, :line_items, class: 'btn btn-primary btn-sm'
  .row.top23
    = f.button :submit, btn_label,  class: 'btn btn-lg btn-primary btn-block'


