= simple_form_for @order,  html: { class: 'form-inline order-form' ,'data-url': drinks_path} do |f|
  - label = @order.new_record? ? 'New order' : 'Edit order'
  - btn_label = @order.new_record? ? 'Create' : 'Update'
  .row
    %h1=label
    %h2.form-signin-heading
  = f.error_notification
  -# .form-group.row
  -# = f.input :status, placeholder: 'Status'
  -if !current_user.manager?
    = f.input :status, collection: Order.statuses.keys.map {|s| [s.humanize,s]}, |
      selected: Order.statuses.keys[@order.status.to_i], |
  input_html: { autocomplete: 'off' }
  = f.input :favorite, placeholder: 'Favorite'
  = f.input :reoccuring, placeholder: 'Reoccuring'
  %h3 Drinks
  #drinks
    = f.simple_fields_for :line_items do |line_items_form|
      = render 'line_item_fields', :f => line_items_form
    .links
      = link_to_add_association 'add drink', f, :line_items
  = f.button :submit, btn_label,  class: 'btn btn-lg btn-primary btn-block'


