.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h1.page-header Orders
  -# - binding.pry
  -if params[:by_company].present?
    %h4=@companies.find{|c|c.id == params[:by_company].to_i}.name
  -if params[:favorite].present?
    %h4
      Favorite
  -if params[:reoccuring].present?
    %h4
      Reoccuring
  %h6 Hover over order to see details
  =link_to 'Create New Order', new_order_path, class: 'btn btn-primary btn-lg'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th User name
          %th Company
          %th Status
          %th Favorite
          %th Reoccuring
          %th Created
          %th Updated

      %tbody
        -@orders.each do |order|
          -#unless (order.cancelled? &&  params[:status].nil?)
          %tr.tt{title: order.description.join(','), 'data-placement':'left', class: cancelled_class(order)}
            %td=order.id
            %td= order.user.name
            %td= order.user.company.name
            %td= order.status
            %td= order.favorite
            %td= order.reoccuring
            %td= order.created_at.strftime("%d/%m/%Y, %I:%M %p")
            %td= order.updated_at.strftime("%d/%m/%Y, %I:%M %p")

            %td=link_to 'Edit', edit_order_path(order), class: 'btn btn-primary btn-sm'
            -unless (order.cancelled? || !current_user.manager?)
              %td
                =button_to "Cancel", { action: "cancel", id: order.id },  class: 'btn btn-warning btn-sm', method: :post, data: { confirm: "Are you sure you want to cancel this order?" }

            %td
              =button_to "Delete", { action: "destroy", id: order.id },  class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Are you sure you want to delete this order?" }
            -if order.favorite?
              %td
                =button_to "Re-Order", { action: "reorder", id: order.id },  class: 'btn btn-info btn-sm', method: :post, data: { confirm: "Are you sure you want to place this order again?" }
  =paginate @orders

